@font-face {
  font-family: DIN Next W1G Medium;
  src: url("../../../../public/assets/fonts/DINNextW1G/dinnextw1g_medium.otf") format("opentype");
}

@font-face {
  font-family: DIN Next W1G Bold;
  src: url("../../../../public/assets/fonts/DINNextW1G/dinnextw1g_bold.otf") format("opentype");
}

.round-reasons-container {
  display: block;
  max-width: 600px;
  align-items: center;
  gap: 4px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  background-color: transparent;
  border-radius: 6px;
  top: 28px;
}

.left-team {
  display: flex;
  padding-top: 2px;
}

.right-team {
  display: flex;
  padding-bottom: 2px;
}

.team-info {
  max-width: 75px;
  min-width: 75px;
  color: white;
  transform: translateX(-185px);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  word-spacing: 10px;
  font-family: "DIN Next W1G Bold", Helvetica;
}

.reason-container {
  width: max-content;
  overflow-x: visible;
  float: none;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.round-number {
  position: absolute;
  padding: 0px 0px;
  margin: 0px 0px;

  width: 24px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  color: rgba(255, 255, 255, 0.8);

  font-size: 24px;
  word-spacing: -50px;
  font-family: "DIN Next W1G Bold", Helvetica;
}

.round-number-upcoming {
  position: absolute;
  left: 0;
  top: 24px;
  width: 40px;

  line-height: 40px;
  text-align: center;
  color: white;

  font-size: 24px;
  word-spacing: -50px;
  font-family: "DIN Next W1G Bold", Helvetica;
}

.reason-color {
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  width: 25px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 6px;
  margin: 0px 1px;
  position: relative;
  flex: 0 0 auto;

  &.top {
    @extend .reason-color;
    border-top-width: 2px;
    border-top-style: solid;

    // Colors need to be in top and bottom because the gradient is shifts direction
    &.attacker {
      @extend .top;
      border-color: var(--attacker-color-secondary);
      background: linear-gradient(
        180deg,
        rgba(var(--attacker-color-secondary-rgb), 0.28) 0%,
        rgba(var(--attacker-color-secondary-rgb), 0) 100%
      );
    }

    &.defender {
      @extend .top;
      border-color: var(--defender-color-shield-currency);
      background: linear-gradient(
        180deg,
        rgba(var(--defender-color-shield-currency-rgb), 0.28) 0%,
        rgba(var(--defender-color-shield-currency-rgb), 0) 100%
      );
    }
  }

  &.bottom {
    @extend .reason-color;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    &.attacker {
      @extend .bottom;
      border-color: var(--attacker-color-secondary);
      background: linear-gradient(
        180deg,
        rgba(var(--attacker-color-secondary-rgb), 0) 0%,
        rgba(var(--attacker-color-secondary-rgb), 0.28) 100%
      );
    }

    &.defender {
      @extend .bottom;
      border-color: var(--defender-color-shield-currency);
      background: linear-gradient(
        180deg,
        rgba(var(--defender-color-shield-currency-rgb), 0) 0%,
        rgba(var(--defender-color-shield-currency-rgb), 0.28) 100%
      );
    }
  }
}

.divider {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.line {
  position: relative;
  width: 1px;
  height: 30px;
  object-fit: cover;
}

.team-roundsWon {
  position: absolute;
  font-family: "DIN Next W1G Bold", Helvetica;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  word-spacing: -50px;
  left: -100px;

  &.attacking {
    color: #E5375F;
  }
  &.defending {
    color: #46F4CF;
  }
}

.round-wrapper {
  display: inline-flex;
  margin-right: 1px;
}
.side-swap-container {
  margin-right: 35px;
  display: inline-flex;
  align-items: center;
}

.side-swap-container-early {
  margin-right: 51px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.side-swap-container-late {
  margin-right: 35px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.six-square {
  width: 6px;
  height: 6px;
  background-color: #fff;
  margin-right: 1px;
  align-self: center;
}

.round-svg-container {
  position: relative;
  width: 49px;
  height: 49px;

  .round-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
  }
}
