<div class="topinfo-container">
  <app-mapinfo
    [map]="match.map"
    [mapinfo]="mapInfoForSlot(0)"
    [slotType]="'past'"
    [isDecider]="isDeciderForSlot(0)">
  </app-mapinfo>
  <app-mapinfo
    [map]="match.map"
    [mapinfo]="mapInfoForSlot(1)"
    [slotType]="'present'"
    [isDecider]="isDeciderForSlot(1)">
  </app-mapinfo>
  <app-mapinfo
    [map]="match.map"
    [mapinfo]="mapInfoForSlot(2)"
    [slotType]="'future'"
    [isDecider]="isDeciderForSlot(2)">
  </app-mapinfo>
</div>
<div class="topinfo-container-right">
</div>
<div class="sponsor-container" *ngIf="sponsorsAvailable">
  <ng-container *ngFor="let sponsor of sponsorImages; let i = index">
    <img
      *ngIf="i === currentSponsorIndex"
      class="sponsor-logo"
      [@fadeInOut]
      [src]="sponsor"
      alt="Sponsor Logo"
    />
  </ng-container>
</div>


<div class="event-name-container">
  <img class="event-name-bg" src="/assets/topscore/topinfo/eventName.svg" alt="Event Name Background" />

  <div class="cycling-or-static-content-wrapper">
    <ng-container *ngIf="showEventName">
      <!-- CAUTION: Attribution is a required part of using Spectra, so please do not remove this portion of code, lest you be smited by the gods! -->
      <span *ngIf="!displayAttributionContent" class="event-name-text-cycling" @fadeCycle>{{ eventName }}</span>
      <div *ngIf="displayAttributionContent" class="attribution-content-cycling" @fadeCycle>
        <img src="assets/misc/icon.webp" class="attribution-icon" alt="Spectra Icon">
        <span class="attribution-text-part">OVERLAY BY SPECTRA</span>
      </div>
    </ng-container>

    <ng-container *ngIf="!showEventName">
      <!-- CAUTION: Attribution is a required part of using Spectra, so please do not remove this portion of code, lest you be smited by the gods! -->
      <div class="attribution-content-static">
        <img src="assets/misc/icon.webp" class="attribution-icon" alt="Spectra Icon">
        <span class="attribution-text-part">OVERLAY BY SPECTRA</span>
      </div>
    </ng-container>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol
    id="aperture"
    fill="none"
    stroke="white"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    viewBox="0 0 24 24"
  >
    <circle cx="12" cy="12" r="10" />
    <path
      d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
    />
  </symbol>
</svg>
