<div class="wrapper">
  <div class="iner-wrapper" *ngIf="anyTimeout" [@fade]>
    <div class="timeout-box-content">
      <div class="info-box">
        <!-- Left team timeout -->
        <img
          *ngIf="timeout.techPause === false && timeout.leftTeam && match.teams[0].isAttacking"
          class="info-image"
          src="/assets/timeout/redTimeout.svg"
        />
        <img
          *ngIf="timeout.techPause === false && timeout.leftTeam && !match.teams[0].isAttacking"
          class="info-image"
          src="/assets/timeout/greenTimeout.svg"
        />
        <!-- Right team timeout -->
        <img
          *ngIf="timeout.techPause === false && !timeout.leftTeam && match.teams[1].isAttacking"
          class="info-image"
          src="/assets/timeout/redTimeout.svg"
        />
        <img
          *ngIf="timeout.techPause === false && !timeout.leftTeam && !match.teams[1].isAttacking"
          class="info-image"
          src="/assets/timeout/greenTimeout.svg"
        />

        <!-- Tech pause handling remains unchanged -->
        <div *ngIf="timeout.techPause === true" class="pause-tech">
          <img class="info-image" src="/assets/timeout/techTimeout.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
