@font-face {
  font-family: DIN Next W1G Regular;
  src: url("../../../public/assets/fonts/DINNextW1G/dinnextw1g.otf") format("opentype");
}

@font-face {
  font-family: DIN Next W1G Medium;
  src: url("../../../public/assets/fonts/DINNextW1G/dinnextw1g_medium.otf") format("opentype");
}

@font-face {
  font-family: DIN Next W1G Bold;
  src: url("../../../public/assets/fonts/DINNextW1G/dinnextw1g_bold.otf") format("opentype");
}

@font-face {
  font-family: Tungsten;
  src: url("../../../public/assets/fonts/Tungsten/Tungsten-Bold.ttf") format("truetype");
} 

.flip {
  transform: rotateY(180deg);
}

.scoreboard-label-text {
  position: absolute;
  left: 80px;
  top: 120px;
  font-family: "DIN Next W1G Regular", sans-serif;
  opacity: 1;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  z-index: 1;
}

.player-display {
  color: white;
  opacity: 0.54;
  transform: translateY(58px);
}

.kda-display {
  color: white;
  opacity: 0.54;
  transform: translate(180px, 40px);
  letter-spacing: 10px;
}

.abilities-display {
  color: white;
  opacity: 0.54;
  transform: translate(372px, 20px);
}

.shield-display {
  color: white;
  opacity: 0.54;
  transform: translate(542px, 1px);
}

.loadout-display {
  color: white;
  opacity: 0.54;
  transform: translate(639px, -18px);
}

.creds-display {
  color: white;
  opacity: 0.54;
  transform: translate(754px, -37px);
}

.team-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 11%;
  height: 100%;
}

.team-icon {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.scoreboard-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 546px;
  left: 19px;
}

.scoreboard-header-container {
  display: flex;
  height: 64px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  top: 76px;
  left: 0px;
  z-index: 1;
}

.team-container {
  display: flex;
  width: 400px;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 8px;
  overflow: visible;
  background: transparent;
  left: 24px;
}

.team-container .flip {
  left: 54px;
}

.team-container.flip .team-side-color.flip {
  transform: rotateY(180deg) translateX(-88px); // Adjust -20px as needed
}

.money-spent-container {
  display: inline-flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.teaminfo-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  flex: 0 0 auto;
  left: 32px;
  top: -2px;
  &-left {
    @extend .teaminfo-wrapper;
    align-items: flex-start;
  }
  &-right {
    @extend .teaminfo-wrapper;
    align-items: flex-end;
    transform: translateX(38px) scaleX(-1);  
  }
}

.teamname-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Tungsten", Helvetica;
  color: #ffffff;
  font-size: 46px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  text-transform: uppercase;
}

.money-spent-wrapper {
  margin-top: -1px;
  font-family: "DIN Next W1G Bold", Helvetica;
  color: #ffffffe6;
  font-size: 26px;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.credits-icon {
  position: relative;
  width: 12px;
  height: 12px;
  top: -2px;
}

.money-spent-label-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "DIN Next W1G Medium", Helvetica;
  color: #ffffff58;
  font-size: 22px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  top: -2px;
}

.scoreboard-content-container {
  display: flex;
  width: 1882px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.scoreboard-box-container {
  position: relative; // Ensure the parent container is positioned
  width: 100%; // Ensure it spans the necessary width
  height: auto; // Allow it to adjust to its content
  overflow: visible; // Ensure child elements are not clipped
}

.graphics-left {
  position: absolute;
  left: 10px; // X position
  top: 100px; // Y position
  overflow: visible;
  
  .vector3-left,
  .vector4-left {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.graphics-right {
  transform: scaleX(-1);
  position: absolute;
  left: 1872px; // X position
  top: 100px; // Y position
  overflow: visible;
  
  .vector3-right,
  .vector4-right {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.playerscore-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 415px;
  align-items: flex-start;
  gap: 0px;
  padding: 13px 16px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}

.round-reasons {
  position: relative;
  bottom: 40px;
}

.team-round-reasons-box {
  position: absolute;
  top: 58px;
  left: 12px;
}

.team-side-color {
  position: absolute;
  left: 84px;
  top: -16px;
}
